asgiref==3.7.2
Babel==2.14.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.5.0
Django==5.0.1
django-minify-html==1.7.1
idna==3.6
iniconfig==2.0.0
minify_html==0.15.0
packaging==24.0
pillow==10.2.0
pluggy==1.5.0
pytest==8.1.1
requests==2.31.0
setuptools==69.0.3
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.1
