{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% load static %}
{% load humanize %}

{% block content %}

<main class="container mt-5">
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
  />
  <script src="{% static 'js/add_to_cart.js' %}"></script>
  <script src="{% static 'js/getValue.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>

  <article class="row justify-content-center">
    <section class="col-lg-3 col-md-4 col-sm-6">
      <div class="bg-light p-3 rounded">
        <h2 class="mb-3">Filters</h2>

        <!-- Search Bar -->
        <div class="input-group mb-3">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Buscar"
            aria-describedby="search-addon"
            id="searchBar"
            tabindex="4"
          />

          <button
            type="submit"
            class="btn btn-primary"
            onclick="searchProduct()"
            tabindex="5"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>

        <!-- Filters List -->
        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="filter"
                id="dec"
                onclick="getValue()"
              />
              <label class="form-check-label" for="dec"> A-Z </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="filter"
                id="ase"
                onclick="getValue()"
              />
              <label class="form-check-label" for="ase"> Z-A </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="filter"
                id="barato"
                onclick="getValue()"
              />
              <label class="form-check-label" for="barato">
                More cheap
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="filter"
                id="caro"
                onclick="getValue()"
              />
              <label class="form-check-label" for="caro">
                More expensive
              </label>
            </div>
          </li>
        </ul>        
      </div>
    </section>

    <section class="col-md-8">
      <div class="card card-body">
        <div class="row align-items-center mb-3">
          <h1 class="col card-title text-center">Product list</h1>

          {% if user.is_staff %}
          <button
            class="btn btn-success col-2 m-2"
            onclick="window.location.href=`{% url 'products:add' %}`"
            tabindex="10">
            Add
          </button>
          {% endif %}
        </div>

        <ul class="list-group list-group-flush">
          {% for product in products %}
          <li class="list-group-item">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img
                  loading="lazy"
                  class="img-fluid"
                  src="/media/{{ product.image.name }}"
                  alt="{{ product.name }}"
                />
              </div>

              <div class="col-md-8">
                <header class="mb-3">
                  <a
                    href="{% url 'products:detail' product.id %}"
                    class="text-decoration-none"
                    tabindex="-1"
                  >
                    <h2 class="font-weight-bold mb-0">{{ product.name }}</h2>
                  </a>
                  <p>{{ product.description }}</p>
                </header>

                <span class="mb-2">₡ {{ product.price | floatformat | intcomma }}</span>

                {% if user.is_authenticated %}
                <footer class="mt-3">
                  <div class="row align-items-center">
                    <div class="col-sm-6 mb-2 mb-sm-0">
                      <input
                        class="form-control"
                        type="number"
                        id="input{{ product.id }}"
                        min="0"
                        step="1"
                        placeholder="Select the quantity"
                        tabindex="11"
                        required
                      />
                    </div>
                
                    <div class="col-sm-6 text-sm-end">
                      <div class="btn-group" role="group" aria-label="Add to cart buttons">
                        <button
                          class="btn btn-secondary"
                          type="button"
                          onclick="addToCart('{{ product.id }}')"
                          tabindex="12"
                        >
                          Add to cart
                        </button>
                
                        {% if user.is_staff %}
                        <a
                          href="{% url 'products:detail' product.id %}"
                          class="btn btn-primary ms-2"
                          tabindex="13"
                        >
                          Details
                        </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </footer>
                
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </article>
</main>

{% endblock %}
