{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
 
    <title>{% block title %}My E-commerce{% endblock %}</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'products:home' %}">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            tabindex="1"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}" tabindex="2">
                  Log out
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'orders:cart' %}" tabindex="3">
                  Cart
                </a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}" tabindex="2">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}" tabindex="3">
                  Log in
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}
    <!-- Content goes here -->
    {% endblock %}
  </body>
</html>
